<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Post</h3>
<p>
    <a th:href="@{/post/create}">Add new post</a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id = "customers" >
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Create date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row, rowStat : ${postList}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getContent()}"></td>
        <td th:text="${row.getTitle()}"></td>
        <td th:text="${row.getCreated_date()}"></td>
        <td><a th:href="@{/post/{id}/edit(id=${row.getId()})}">Edit</a></td>
        <td><a th:href="@{/post/{id}/delete(id=${row.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>